h1 {
  color: black;
  text-align: center;
}

table,
th,
td {
  border: 1px solid lightgray;
  padding: 5px;
}

th:hover {
  cursor: pointer;
  background-color: lightgray;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
